{% extends 'base.html' %}
{% block content%}
  <form action="/tasks/" method="get">
    {{form.as_p}}
    <button type="submit">Search</button>

  </form>
    {%for task in tasks%}
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <p class="card-text">{{task.description}}</p>
      <p class="card-text">{{task.category}}</p>
      <a href="/tasks/{{task.id}}/" class="btn btn-primary">Go to task</a>
  </div>
    {%endfor%}
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
</div>
{%endblock%}
